<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td><img src="https://www.fwd.com.my/~/media/Images/FWDMY/Header/FWDlogov2.png?h=199&la=en&w=447&hash=369BD7B280A34AEDAEAA9A8FFB7A3BE034964592"
                alt="fwd logo" /></td>
        </tr>
    </table>
</body>

</html>